body {
  background-color: #e1d89f;
}

p {
  margin: .25rem;
}

.bg-header {
  background-color: #2c061f;
}

.card {
  background-color: #d89216;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}

.large-text {
  font-size: 300%;
}

.rounded-square {
  border-radius: 15px;
}

.small-text {
  font-size: 150%;
}

.text-header {
  color: #d89216;
}

@media only screen and (min-width: 768px) {
  .large-text {
    font-size: 350%;
  }

  .small-text {
    font-size: 200%;
  }

  .card {
    width: 50%
  }
}
